/* Address
   ========================================================================== */
/**
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-address-example-p-margin: $eos-m;
$eos-address-example-output-background: $eos-bc-white;
$eos-address-example-output-margin: $eos-m;
$eos-address-example-output-padding: $eos-l $eos-m;

/* Spacing variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-address-example-background-color: $eos-bc-gray-50;
