/* Icons
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/icon-guides/icons.variables.scss */

.icon-badge {
  background: $eos-icon-badge-bg;
  border-bottom-right-radius: $eos-icon-badge-radius;
  border-top-left-radius: $eos-icon-badge-radius;
  color: $eos-icon-badge-color;
  height: $eos-icon-badge-h-w;
  margin-right: $eos-icon-badge-margin;
  width: $eos-icon-badge-h-w;

  &:last-child {
    margin-right: 0;
  }

  .eos-icons {
    margin: $eos-icon-badge-icons-m;
    width: auto;
  }

  &.light {
    background: $eos-icon-badge-light-bg;
    border: $eos-icon-badge-light-border;
    color: $eos-icon-badge-light-color;
  }
}

.copy-icon-color {
  align-items: center;
  align-self: center;
  border-radius: $eos-copy-icon-color-radius;
  cursor: pointer;
  display: inline-flex;

  &:first-child {
    margin-right: $eos-copy-icon-color-m;
  }

  &.dark {
    background: $eos-copy-icon-color-dark-bg;
    border-color: $eos-copy-icon-color-dark-border;
    color: $eos-copy-icon-color-dark-color;

    span {
      border-right: $eos-copy-icon-color-dark-span;
    }
  }

  &.light {
    background: $eos-copy-icon-color-light-bg;
    border: $eos-copy-icon-color-light-border;

    span {
      border-right: $eos-copy-icon-color-light-span;
    }
  }

  span {
    margin: $eos-copy-icon-color-span-m;
    padding: $eos-copy-icon-color-span-p;
  }

}

.icon-colors {
  &.result.dark-bg {
    padding: $eos-copy-icon-color-result-p;
    width: $eos-copy-icon-color-result-w;
  }
}


/* Icons search */
.icons-search-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  float: right;

}
