/* Dropdown dark theme variables
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss

**/

$eos-dark-dropdown-bg-color: $eos-bc-gray-900;
$eos-dark-dropdown-border-color: $eos-bc-gray-1000;
$eos-dark-dropdown-hover-color: $eos-bc-gray-1000;

