/* Smart specs
   ========================================================================== */
/**
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*
*/

// colors
$smart-specs-border: $eos-bc-gray-50;
$smart-specs-margin-bg: $eos-bc-yellow-100;
$smart-specs-margin-border: $eos-bc-yellow-500;
$smart-specs-border-b: $eos-bc-gray-900;
$smart-specs-border-text: $eos-bc-white;

// spacing & sizes
$smart-specs-margin: 32px 0;
$smart-specs-padding: 20px;
$smart-specs-code-w: 180px;
$smart-specs-box-w: 250px;
$smart-specs-box-font: 11px;
$smart-specs-margin-padding: $eos-xl;

// margin values in box
$smart-specs-margin-title-l: 5px;
$smart-specs-margin-top-t: 2px;
$smart-specs-margin-top-l: 45%;
$smart-specs-margin-right-t: 43%;
$smart-specs-margin-right-r: 3px;
$smart-specs-margin-bottom-b: 2px;
$smart-specs-margin-bottom-l: 45%;
$smart-specs-margin-left-t: 43%;
$smart-specs-margin-left-l: 3px;

// border values in box
$smart-specs-border-radius: 2px;
$smart-specs-border-p: 2px;
$smart-specs-border-w: 22px;
$smart-specs-border-top-t: 24px;
$smart-specs-border-top-l: 45%;
$smart-specs-border-right-t: 60%;
$smart-specs-border-right-r: 19px;
$smart-specs-border-bottom-b: 24px;
$smart-specs-border-bottom-l: 45%;
$smart-specs-border-left-t: 60%;
$smart-specs-border-left-l: 19px;


// padding values in box
$smart-specs-padding-bg: $eos-bc-green-100;
$smart-specs-padding-p: 45px;
$smart-specs-padding-text: $eos-bc-gray-1000;
$smart-specs-padding-title-l: 105px;
$smart-specs-padding-title-t: 43%;
$smart-specs-padding-top-t: 40px;
$smart-specs-padding-top-l: 45%;
$smart-specs-padding-right-t: 43%;
$smart-specs-padding-right-r: 46px;
$smart-specs-padding-bottom-b: 38px;
$smart-specs-padding-bottom-l: 45%;
$smart-specs-padding-left-t: 43%;
$smart-specs-padding-left-l: 46px;
