/* Summary
   ========================================================================== */
/**
* Colors and borders
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
*/
$eos-summary-color-em: $eos-bc-green-500;
$eos-summary-color-text: $eos-bc-gray-500;
$eos-summary-bg: $eos-bc-gray-100;

/**
* Sizing and spacing
*
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*/
$eos-summary-spacing: $eos-xxl - 26px;
$eos-summary-margin: $eos-xxl;
$eos-summary-center-padding: $eos-xl $eos-summary-spacing;
$eos-summary-text: $eos-h3-font-size; // Reference: /assets/stylesheets/eos-base/variables/titles.scss
