extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Icon buttons
          p.subheadline
            | There are a lot of benefits of using icon buttons. Icons accompanied by labels make
            | information easier to find and scan. Only icon buttons can be compact enough to allow
            | toolbars, tables amongst other elements, using many icon buttons in a relatively small space.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Buttons assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article
      section.margin-top-xxl
        h3.anchor
          a#buttons-with-icon(href='#buttons-with-icon')
            i.eos-icons.eos-18
              | link
          | Buttons with icon
        p
          | Using icons in buttons can help to enhance the user experience. Buttons with icons should have a corresponding label.
        p
          | Place the icons before label in order for users to see them first.
        p
          | Add EOS-icons icon inside any style of button to create a button
          | with an icon.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#button-with-icon-examples', aria-controls='button-with-icon-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #button-with-icon-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-secondary
                  i.eos-icons.eos-18
                    | autorenew
                  | Button
                button.btn.btn-primary
                  i.eos-icons.eos-18
                    | autorenew
                  | Button
                button.btn.btn-outline-primary
                  i.eos-icons.eos-18
                    | autorenew
                  | Button
                button.btn.btn-danger
                  i.eos-icons.eos-18
                    | autorenew
                  | Button
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <button class='btn btn-secondary'>
                    |   <i class='eos-icons eos-18'>autorenew</i> Button
                    | </button>
                    | <button class='btn btn-primary'>
                    |   <i class='eos-icons eos-18'>autorenew</i> Button
                    | </button>
                    | <button class='btn btn-outline-primary'>
                    |   <i class='eos-icons eos-18'>autorenew</i> Button
                    | </button>
                    | <button class='btn btn-danger'>
                    |   <i class='eos-icons eos-18'>autorenew</i> Button
                    | </button>
                  code.js-code-render.language-html
      section.margin-top-xxl
        h3.anchor
          a#icon-buttons-only(href='#icon-buttons-only')
            i.eos-icons.eos-18
              | link
          | Only icon buttons
        p
          | Use the
          code
            |  .btn-icon
          |  class, in addition to the default button classes, when you need
          | nothing but an icon inside a button.
          br
          | Icon buttons require the use of tooltips to provide users with a short explanation.

        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#only-icon-button-examples', aria-controls='only-icon-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #only-icon-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-icon.btn-secondary.js-tooltip(data-toggle='tooltip', data-placement='top', title='Add')
                  i.eos-icons.eos-18
                    | add
                button.btn.btn-icon.btn-primary.js-tooltip(data-toggle='tooltip', title='Edit')
                  i.eos-icons.eos-18
                    | create
                button.btn.btn-icon.btn-outline-primary.js-tooltip(data-toggle='tooltip', title='Refresh')
                  i.eos-icons.eos-18
                    | autorenew
                button.btn.btn-icon.btn-danger.js-tooltip(data-toggle='tooltip', title='Delete')
                  i.eos-icons.eos-18
                    | delete
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <button class='btn btn-icon btn-secondary' data-toggle='tooltip' title='Add'>
                    |   <i class='eos-icons eos-18'>add</i>
                    | </button>
                    | <button class='btn btn-icon btn-primary' data-toggle='tooltip' title='Edit'>
                    |   <i class='eos-icons eos-18'>create</i>
                    | </button>
                    | <button class='btn btn-icon btn-outline-primary' data-toggle='tooltip' title='Refresh'>
                    |   <i class='eos-icons eos-18'>autorenew</i>
                    | </button>
                    | <button class='btn btn-icon btn-danger' data-toggle='tooltip' title='Delete'>
                    |   <i class='eos-icons eos-18'>delete</i>
                    | </button>
                  code.js-code-render.language-html
