/* Card variables
   ========================================================================== */
/**
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
*/
$eos-link-box-color: $eos-bc-gray-500;
$eos-link-box-color-darker: $eos-bc-gray-900;
$eos-link-box-left-background: #f5f5f5;
$eos-link-box-after-color: $eos-bc-cerulean-900;
$eos-link-box-background-size: $eos-xxxl;
$eos-link-box-border-radius: 2px;
$eos-link-box-hight: 100px;
$eos-link-box-image-width: 60px;
$eos-link-box-right-padding: $eos-m;
