li
  a.dropdown-item(href='https://xd.adobe.com/view/1d24df3e-516d-45e8-a779-50593483fb24-4877/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://xd.adobe.com/view/eec9e710-f158-4d90-b0a7-6566c2637235-bb9a/', data-event-category='Dropdown link', data-event-action='Specifications for third party sign in', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications for third party sign in
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/Sign-in/sign-in.xd', data-event-category='Dropdown link', data-event-action='XD file', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | file_download
    | Adobe XD file
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/Assets/sign-in-bg/sign-in-bg.svg?inline=false')
    i.eos-icons.eos-18
      | image
    | Download background image
li
  a.dropdown-item(href='/examples/demo-sign-in.html', data-event-category='Dropdown link', data-event-action='Demo page link', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | open_in_new
    | Demo page
