extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Error page
          p.subheadline
            | The error page helps users to recognise, diagnose, and recover from errors.
            | It should provide an error message to indicate the problem, and constructively suggest a solution.
          p
            | Visit the #[a(href='/examples/demo-error-503.html', data-event-category='Internal link', data-event-action='503 Demo page link', data-event-label='Layout', target='_blank', rel='noreferrer nonopener') 503] or
            | #[a(href='/examples/demo-error-404.html', data-event-category='Internal link', data-event-action='404 Demo page link', data-event-label='Layout', target='_blank', rel='noreferrer nonopener') 404] demo pages.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Error page assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article.margin-top-xxl
      h3.anchor
        a#basic-structure(href='#basic-structure')
          i.eos-icons.eos-18
            | link
        | Basic structure
      p
        | The basic structure provides a header and the main area. The main area
        | has a fixed width on top of a background.
      ul
        li
          | The header contains the brand logo.
        li
          | The main area shows the error type, error message, CTA button, and footer.

      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-fluid.img-fluid-v-centered(src='/images/error-page/error-page-layout.png', alt='Layout structure image')

    article.margin-top-xxl
      h3.anchor
        a#fluid-page-layout(href='#fluid-page-layout')
          i.eos-icons.eos-18
            | link
        | Fluid page layout
      p
        | The fluid page layout is the default layout in #{config.brand}.
        | It provides the right screen real estate for content by allowing it to stretch and
        | contract relative to the screen size.
    article.margin-top-xxl
      h3.anchor
        a#responsive-breakpoints(href='#responsive-breakpoints')
          i.eos-icons.eos-18
            | link
        | Responsive breakpoints
      .row
        .col-md-8
          ul
            li
              | bigger than 1120px
            li
              | 770px - 1119px
            li
              | less than 770px

      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1120px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1119px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/error-page/error-page-web.png', alt='Menu image for desktop')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/error-page/error-page-tablet.png', alt='Menu image for tablet')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/error-page/error-page-mobile.png', alt='Menu image for mobile')
    article.margin-top-xxl
      h3.anchor
        a#description(href='#error-page-how-to')
          i.eos-icons.eos-18
            | link
        | How to implement
      ul
        li
          | Main area has a fixed #[code width 460px] on top of a background and stays left side of the screen with #[code left-marging 250px].
        li
          | The #[strong header ] appears as a fixed, full-width strip, on top of the screen.
        li
          | For screens smaller than 770px, the background is no longer visible and the main area  becomes flexible.
    article.margin-top-xxxl
      h3.anchor
        a#sign-in-background(href='#error-page-background')
          i.eos-icons.eos-18
            | link
        | Background
      p
        | Click #[a(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/Assets/error-page/error-page-bg.svg?inline=false', data-event-category='External link', data-event-action='Sign in page background', data-event-label='Templates/Sign in') here] to download the background image.
