/* Success stories
   ========================================================================== */
/**
*
* Variables: /assets/stylesheets/eos-pages/success-stories/success-stories.variables.scss
*
*/
.success-stories-list {
  .card {
    height: 410px;
  }

  .success-story:nth-child(1) {
    order: 2;
  }

  .col-md-6:nth-child(2) { order: 1; }
}

.success-story {
  order: 3;
}

.success-story-cta {

  .card {
    background-color: $eos-bc-gray-50;
    box-shadow: none;
  }

  .card-body {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $eos-success-story-card-body-w; //image width
  }
}


