/* Radio button styles */
.eos-radio-btn {
  opacity: 0;
  position: absolute;
  z-index: $eos-radio-btn-zindex;
}

// apply the style to the labels, Bootstrap style
.eos-radio-btn ~ .form-check-label {
  margin-left: $eos-radio-btn-label-margin;

  &::before,
  &::after {
    content: '';
    display: block;
    height: $eos-radio-btn-height;
    left: 0;
    position: absolute;
    top: $eos-radio-btn-top;
    width: $eos-radio-btn-width;
  }

  &::before {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border: 1px solid $eos-radio-btn-border;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
  }

  &::after {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    content: '';
  }
}

.eos-radio-btn:checked ~ .form-check-label::before {
  background-color: $eos-radio-btn-checked;
  border: 0;
}

// focus state
.eos-radio-btn:focus ~ .form-check-label::before {
  box-shadow: 0px 0px 4px $eos-radio-btn-focus;
}

// disabled state
.eos-radio-btn:disabled ~ .form-check-label {
  color: $eos-radio-btn-disabled;

  &::before  {
    background-color: $eos-radio-btn-disabled;
    border: 1px solid $eos-radio-btn-disabled;
  }
}
