/* Sign in dark-theme variables
   ========================================================================== */

$eos-dark-signin-background: url('../images/sign-in-page/dark-theme/sign-in-bg.svg') #141823 no-repeat center fixed;
$eos-dark-text-color: $eos-bc-white;
$eos-dark-signin-brand-container-bg: $eos-bc-dt-gray-200;
$eos-dark-signin-form-container-bg: $eos-bc-dt-gray-100;
$sign-in-form-container-footer-bg: $eos-bc-dt-gray-100;
